body{
    background-color: #74ffb9;

}
h1 {
    color: #feff00;
    font-family: "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
}
h2 {
    color: red;
    font-family: "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
}

p {
    font-family: monospace;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto
}

#ourPicture {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img {
    display: block;
}

.centerText {

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    display: block;
    width: 60px;
}
.text {

}
#id1 {
    background-color: #92e0f5;
    color: #106100;
}
#id1 li {
    list-style: square;
}
.center {
    text-align: center;
}