body{
    background-color: #74ffb9;

}

h1 {
    font-size: 300%;
    color: #feff00;
    font-family: "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;

}
h2 {
    color: #5a82ff;
    font-family: "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
}

p {
    font-family: monospace;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto
}

#ourPicture {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img {
    display: block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    display: block;
    width: 60px;
}

#id1 {
    font-size: 150%;
    background-color: #92e0f5;
    color: #106100;
}

#id1 li {
    list-style: square;
}

#id2  {
    background-color: #f5b827;
}

.center {
    text-align: center;
}